
h1 {
  text-align:center;
  font-family:"Arial", sans-serif;
  color:#555;
  font-size:4em;
}

canvas, button {
  cursor:pointer;
}

#container{
 text-align:center;
 margin:3em auto;
}

#new-game {
  display:block;
  margin:3em auto;
  padding:.5em 1em;
}

