body{
  font-family:"Arial", sans-serif;
}
h1 {
  text-align:center;
  color:#555;
  font-size:4em;
  margin-bottom:0;
}

canvas, button {
  cursor:pointer;
}

#result {
  text-align:center;
  height:2em;
  line-height:2em;
  padding:1em;
  font-size:20px;
  color:#5BB05C;
}
#container{
 text-align:center;
 margin: auto;
}

#new-game {
  display:block;
  margin:4em auto;
  padding:.5em 1em;
}

